.article__section{
    .article__section-header{
        font-family: "Radiate Sans Expanded";
        color: var(--orange);
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    
    .article__section-text{
        line-height: 24px;
        color: var(--gray);
    }
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 834px) {

}

@media screen and (max-width: 540px) {

}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 320px) {

}